<div id="watch-list">
  <h1>
    <i class="fa fa-eye" aria-hidden="true"></i>
    Have you watched these?
  </h1>

  <table>
    <tr>
      <td colspan="3">
        <div class="title">Lost</div>
      </td>
    </tr>
    <tr>
      <td class="episode-number"> S02E03 </td>
      <td class="episode-name">Mr. T in da house</td>
      <td class="episode-options">
        <a class="button pull-right">
          <i class="fa fa-check" aria-hidden="true"></i>
          Yes?
        </a>
      </td>
    </tr>
    <tr>
      <td class="episode-number"> S02E04 </td>
      <td class="episode-name">Checkmate</td>
      <td class="episode-options">
        <a class="button pull-right">
          <i class="fa fa-check" aria-hidden="true"></i>
          Yes?
        </a>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td colspan="3">
        <div class="title">Friends</div>
      </td>
    </tr>
    <tr>
      <td class="episode-number"> S02E03 </td>
      <td class="episode-name">Mr. T in da house</td>
      <td class="episode-options">
        <a class="button pull-right">
          <i class="fa fa-check" aria-hidden="true"></i>
          Yes?
        </a>
      </td>
    </tr>
    <tr>
      <td class="episode-number"> S02E04 </td>
      <td class="episode-name">Checkmate</td>
      <td class="episode-options">
        <a class="button pull-right">
          <i class="fa fa-check" aria-hidden="true"></i>
          Yes?
        </a>
      </td>
    </tr>
  </table>
</div>


