<div id="collection-container">
  <div class="title-container">
    <div class="title">
      My Collection
    </div>
  </div>

  <div class="collection-selector">
    <div class="row">
      <a (click)="selectTvShowCollection()" [ngClass]="{'selected': selectedListType == 'TV Shows'}" class="small small-6 column button"> TV Shows </a>
      <a (click)="selectMovieCollection()"  [ngClass]="{'selected': selectedListType == 'Movies'}" class="small small-6 column button" > Movies </a>
    </div>
  </div>

  <ul class="collection-list">
    <li *ngFor="let item of collectionList" [routerLink]="['/main/tv-shows/' + item.id]">
      <img src="{{item.poster_url}}">
      <div class="item-information">
        <div class="title"> {{item.title}} </div>
        <div class="status"> Status: <span>{{item.status}}</span></div>

        <div *ngIf="item.type == 'TV Show'" class="tv-show-information">
          <div> Last seen episode: <span>{{item.last_seen_episode}}</span></div>
          <div> Last released episode: <span>{{item.last_released_episode}}</span></div>
        </div>

        <div *ngIf="item.type == 'TV Show'" class="badges">
          <div *ngIf="item.is_up_to_date" class="success badge"> Up-to-date </div>
          <div *ngIf="item.has_new_episode" class="alert badge"> New Episode </div>
          <div *ngIf="item.amount_comments > 0" class="badge">
            {{item.amount_comments}}
            <span *ngIf="item.amount_comments == 1">
              New Comment
            </span>
            <span *ngIf="item.amount_comments > 1">
              New Comments
            </span>
          </div>
        </div>

        <div *ngIf="item.type == 'Movie'" class="movie-information">
          <div> Release date: <span>{{item.release_date}}</span></div>
        </div>

        <div *ngIf="item.type == 'Movie'" class="badges">
          <div *ngIf="item.is_watched" class="success badge"> Watched </div>
          <div *ngIf="!item.is_watched" class="alert badge"> Not Watched </div>
          <div *ngIf="item.amount_comments > 0" class="badge">
            {{item.amount_comments}}
            <span *ngIf="item.amount_comments == 1">
              New Comment
            </span>
            <span *ngIf="item.amount_comments > 1">
              New Comments
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
