#main
  background: url(../../assets/images/dashboard-background.svg) no-repeat center center fixed
  background-size: cover
  position: absolute
  width: 100%
  height: 100%

  .background-layer
    background-color: rgba(0, 0, 0, 0.45)
    position: fixed
    width: 100%
    height: 100%

  .top-bar
    position: relative
    background-color: #323335
    z-index: 9999

    @media screen and (max-width: 63.9375em)
      background-color: #323335

    .collection-toggle-button
      position: absolute
      font-size: 1.4rem
      height: 100%
      left: 10px
      color: #afb1be

      &:hover
        color: #FFF
        cursor: pointer

      &.active
        color: #FFF

    .search-toggle-button
      position: absolute
      font-size: 1.4rem
      height: 100%
      left: 3rem
      color: #afb1be

      &:hover
        color: #FFF
        cursor: pointer

      &.active
        color: #FFF

    .wekker-nav-title
      color: #FFF
      font-size: 1.65rem
      font-weight: 900
      letter-spacing: 0.55rem
      line-height: 2.1rem
      text-align: center

    .profile-container
      position: absolute
      font-size: 0.9rem
      right: 0.6rem
      top: 0.5rem
      color: #FFF
      padding-right: 0.4rem

      .profile-image
        display: inline-block

        img
          height: 30px
          margin-right: 5px

      &:hover
        opacity: 0.7
        cursor: pointer

    .profile-menu-container
      position: absolute
      top: 100%
      right: 0
      opacity: 0
      padding: 0.6rem 0 0.2rem 0
      background-color: #323335
      border-bottom: 1px solid #614126
      border-top: 1px solid #614126

      @media screen and (max-width: 63.9375em)
        background-color: #323335

      &.open-menu
        transition: 0.2s
        opacity: 100

      ul
        list-style: none
        color: #FFF
        font-size: 0.85rem
        background-color: transparent
        margin: 0
        text-align: right

        li
          margin-bottom: 0.25rem
          padding: 0.2rem 1rem 0.2rem 1rem

          &:hover
            background-color: rgba(255, 255, 255, 0.1)
            cursor: pointer


  .content-container
    position: fixed
    top: 0
    display: inline-block
    vertical-align: top
    padding-top: 3.6rem
    padding-left: 22rem
    width: 100%
    height: 100%
    left: 0
    overflow-y: auto

    @media screen and (max-width: 63.9375em)
      transition: padding-left .2s
      padding-left: 0

      &.open-menu
        display: none

  .callout
    font-size: 0.8rem
    color: #FFF
    text-align: center
    padding: 0.5rem

    &.alert
      background-color: rgba(255, 111, 112, 0.25)
