<div id="search-container" [ngClass]="{'open-menu': isOpen, 'toggled-menu': isToggled}">
  <div class="title-container">
    <div class="title">
      Search
    </div>
  </div>

  <div class="search-input-container">
    <i class="fa fa-search search-icon" aria-hidden="true"></i>
    <input #searchInputField type="text" (keyup)="doSearchRequest(searchInputField.value)" placeholder="Search for a TV Show or Movie">
    <div class="loading" [ngClass]="{'invisible': !isRequestingSearch}">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
    </div>
  </div>

  <div class="search-results-container">
    <div *ngIf="searchList.length == 0" class="empty-list">
      <div><i class="fa fa-frown-o fa-2x" aria-hidden="true"></i></div>
      <div>Nothing to Search.</div>
    </div>
    <table *ngIf="searchList.length > 0" class="search-list">
      <tr *ngFor="let item of searchList" (click)="nagivateToTvShowDetails(item.tv_show_id)">
        <td>
          {{item.name}} <span *ngIf="item.first_air_date">({{ dates.convertToYear(item.first_air_date) }})</span>
        </td>
        <td class="badges-cell">
          <div class="badge"> TV SHOW </div>
        </td>
      </tr>
    </table>
  </div>
</div>
