<div id="idea-box">
  <h1>
    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
    Help you by helping us improve!
  </h1>

  <div class="subtitle">
    Send us your feedback.
  </div>

  <label for="feedback-type"> Feedback Type </label>
  <select id="feedback-type">
    <option>Idea/Suggestion</option>
    <option>Bug</option>
    <option>Just saying Hi!</option>
  </select>

  <label for="feedback-message"> Message (max. 1200 characters) </label>
  <textarea id="feedback-message" maxlength="1200"></textarea>
  <a class="expanded hollow button"> Send </a>
</div>
