#idea-box
  border-top: 2px solid #614126
  background-color: rgba(0, 0, 0, 0.1)
  padding: 0 2rem 0.2rem 2rem

  h1
    text-align: center
    font-size: 1.3rem
    padding-top: 2rem
    color: #FFF

    i
      font-size: 1.5rem
      color: rgba(255, 255, 255, 0.6)

  .subtitle
    text-align: center
    font-size: 0.85rem
    color: #FFF
    margin-bottom: 1rem

  label
    color: #FFF
    padding-left: 0.5rem
    font-size: 0.8rem

  select
    font-size: 0.85rem
    color: #afb1be
    background-color: rgba(51, 51, 51, 0.5)
    border: 1px solid #525252
    box-shadow: none
    outline: none

    option
      background-color: #333333
      padding-top: 1rem

  textarea
    font-size: 0.85rem
    color: #afb1be
    min-height: 212px
    resize: none
    background-color: rgba(51, 51, 51, 0.5)
    border: 1px solid #525252
    box-shadow: none
    outline: none

  a.button
    border: 1px solid #FFF
    background-color: transparent
    color: #FFF

    &:hover
      background-color: #FFF
      color: #333
