<div id="episode-guide" class="larger row">
  <div class="large-2 columns">
    <div *ngIf="seasons"  class="seasons-menu show-for-large">
      <a *ngFor="let season of seasons" (click)="selectSeason(season)" [ngClass]="{'selected': selectedSeasonNumber == season?.season_number}" class="small button expanded">
        Season {{ season?.season_number }} <i *ngIf="season.is_watched" class="fa fa-check fa-fw" aria-hidden="true"></i>
        <span> {{ season?.episode_number }} Episodes </span>
      </a>
    </div>

    <select *ngIf="seasons" [(ngModel)]="selectedSeasonNumber" class="seasons-menu hide-for-large">
      <option *ngFor="let season of seasons" [value]="season?.season_number">
        <span *ngIf="season.is_watched">&#10004;</span> Season {{ season?.season_number }} ({{ season?.episode_number }} Episodes)
      </option>
    </select>
  </div>
  <div class="large-10 columns">
    <table class="episode-container">
      <tr *ngFor="let episode of selectedSeason?.episodes">
        <td class="episode-number">
          EPISODE
          <span>{{episode.episode_number}}</span>
        </td>
        <td class="episode-information">
          {{episode.name}}

          <div class="air-date">
          AIR DATE <span> {{ dates.convertToShortDate(episode.air_date) }} </span>
          </div>

          <div class="description">
            <span *ngIf="!tvShow?.overview">
              No description available at this moment.
            </span>
            <span *ngIf="tvShow?.overview">
              {{episode.overview}}
            </span>
          </div>

          <a *ngIf="!episode.is_watched" class="tiny not-watched button">
            <i class="fa fa-times fa-fw" aria-hidden="true"></i>
            Not Watched
          </a>

          <a *ngIf="episode.is_watched" class="tiny watched button">
            <i class="fa fa-check fa-fw" aria-hidden="true"></i>
            Watched
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
