#dashboard
  background: url(../images/dashboard-background.svg) no-repeat center center fixed
  background-size: cover
  position: absolute
  width: 100%
  height: 100%

  .background-layer
    background-color: rgba(0, 0, 0, 0.45)
    position: fixed
    width: 100%
    height: 100%

  .top-bar
    position: relative
    background-color: rgba(0, 0, 0, 0.25)

  .collection-toggle-button
    position: absolute
    font-size: 1.4rem
    height: 100%
    left: 10px
    color: #afb1be

    &:hover
      color: #FFF

    &.active
      color: #FFF

  .wekker-nav-title
    color: #FFF
    font-family: $font-exo
    font-size: 1.65rem
    font-weight: 900
    letter-spacing: 0.55rem
    line-height: 2.1rem
    text-align: center

  .collection-container
    position: relative
    font-family: $font-gudea
    background-color: rgba(255, 255, 255, 0.10)
    height: 100%
    width: 350px

  .collection-search
    position: absolute
    bottom: 33px
    width: 100%

    input
      font-size: 0.85rem
      color: #afb1be
      background-color: rgba(51, 51, 51, 0.5)
      border: 1px solid #525252
      box-shadow: none
      outline: none
      padding-left: 2rem

      &::-webkit-input-placeholder
        color: #525252

    .search-icon
      position: absolute
      color: #525252
      font-size: 1.2rem
      left: 0.5rem
      top: 0.6rem

  .collection-selector
    padding: 0.5rem

    a.button
      border: 1px solid #FFF
      background-color: transparent
      color: #FFF
      margin-bottom: 0

      &.selected
        background-color: #FFFFFF
        color: #333
        cursor: default

      &:hover
        background-color: #FFFFFF
        color: #333

  .collection-list
    list-style: none
    margin: 0

    li
      padding: 0.8rem 0.5rem
      border-bottom: 1px solid #333

      &:hover
        cursor: pointer
        background-color: rgba(255, 255, 255, 0.12)

    img
      width: 65px
      height: 95px

    .item-information
      position: relative
      display: inline-block
      color: #FFFFFF
      font-family: $font-gudea
      vertical-align: top
      height: 95px
      min-width: 200px

      .title
        font-size: 1.1rem
        line-height: 0.8rem
        margin-bottom: 0.45rem
        font-weight: 700

      .badges
        font-size: 0.7rem
        position: absolute
        bottom: 0

        .badge
          border-radius: 0
          padding: 0.1rem 0.3rem
          color: #FFF

          &.success
            background-color: #229b35

      .movie-information, .tv-show-information, .status
        font-size: 0.7rem
        font-weight: 400

        span
          font-weight: 700

