<div id="dashboard">
  <div class="background-layer">

    <!--NAVIGATION BAR-->
    <div class="top-bar">
      <div (click)="toggleCollectionSidebar()" class="collection-toggle-button" [ngClass]="{'active': isActiveCollectionSidebar}">
        <i class="fa fa-film fa-fw" aria-hidden="true"></i>
      </div>
      <div class="wekker-nav-title">
        WEKKER
      </div>
    </div>

    <!--COLLECTION LIST-->
    <collection-list [ngClass]="{'open-menu': isActiveCollectionSidebar}"></collection-list>

    <!--CONTENT CONTAINER-->
    <div class="content-container" [ngClass]="{'open-menu': isActiveCollectionSidebar}">
      <div class="row expanded">
        <div class="large-3 columns">

          <!--UPCOMING RELEASES-->
          <upcoming-releases-list></upcoming-releases-list>
        </div>

        <div class="large-4 columns end">
          <div class="row expanded">
            <div class="large-6 columns">

              <!--STAT: TV SHOWS WATCHED-->
              <statistic-card [description]="'TV EPISODES WATCHED'" [amount]="'5000'"></statistic-card>
            </div>

            <div class="large-6 columns">

              <!--STAT: MOVIES WATCHED-->
              <statistic-card [description]="'MOVIES WATCHED'" [amount]="'150'"></statistic-card>
            </div>
          </div>

          <div class="row expanded">
            <div class="large-12 columns">

              <!--WATCH LIST-->
              <watch-list></watch-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
