<!-- Container Title-->
<div class="input-container-title">
  Enter your e-mail address below to reset your password.
</div>

<!-- Container Fields-->
<div [formGroup]="form" (keyup.enter)="doForgotPasswordRequest(form)" class="input-container-fields">

  <!-- Field: E-mail Address -->
  <div class="input-field">
    <label>E-mail Address</label>
    <input type="text" placeholder="E-mail Address" formControlName="email_address" maxlength="35">
    <span *ngIf="form.get('email_address').touched && form.get('email_address').valid" class="fa fa-check success-validation"></span>
  </div>
</div>

<!-- Container Submit Button-->
<div class="input-container-button">

  <!-- Active button with functionality to do a request -->
  <a *ngIf="!isRequesting && !isSuccessfulRequest" (click)="doForgotPasswordRequest(form)" class="medium hollow expanded button">
      Reset Password
  </a>

  <!-- Disabled button during a request -->
  <a *ngIf="isRequesting && !isSuccessfulRequest" class="medium hollow expanded button is-active">
    <div class="loading">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
    </div>
  </a>

  <!-- Disabled button after a successful request -->
  <a *ngIf="isSuccessfulRequest" class="medium hollow expanded button is-active">
    <div class="successful">
      <i class="fa fa-check" aria-hidden="true"></i> E-mail Sent!
    </div>
  </a>
</div>
