<div id="crew-list">
  <div class="larger row">
    <div class="large-6 large-centered columns">
      <div class="section-container">
        <div class="section-name"> Cast </div>
        <table>
          <tr *ngIf="castMembers.length == 0">
            <td colspan="2" class="empty-list">
              No information available at this moment.
            </td>
          </tr>
          <tr *ngFor="let castMember of castMembers">
            <td class="person-name">{{castMember.name}}</td>
            <td class="character-name">{{castMember.character}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="larger row">
    <div class="large-6 large-centered columns">
      <div class="section-container">
        <div class="section-name"> Crew </div>
        <table>
          <tr *ngIf="crewMembers.length == 0">
            <td colspan="2" class="empty-list">
              No information available at this moment.
            </td>
          </tr>
          <tr *ngFor="let crewMember of crewMembers">
            <td class="person-name">{{crewMember.name}}</td>
            <td class="crew-title">{{crewMember.job_title}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
