<div class="row">
  <div class="large-6 large-centered columns">
    <div class="section-container">
      <div class="section-name"> Cast </div>
      <table>
        <tr>
          <td class="person-name">Andrew Lincoln</td>
          <td class="character-name">Rick Grimes</td>
        </tr>
        <tr>
          <td class="person-name">Lauren Cohan</td>
          <td class="character-name">Maggie Greene</td>
        </tr>
        <tr>
          <td class="person-name">Sarah Wayne Callies</td>
          <td class="character-name">Lori Grimes</td>
        </tr>
        <tr>
          <td class="person-name">Chandler Riggs</td>
          <td class="character-name">Carl Grimes</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 large-centered columns">
    <div class="section-container">
      <div class="section-name"> Crew </div>
      <table>
        <tr>
          <td class="person-name">Tom Luse</td>
          <td class="crew-title">Producer</td>
        </tr>
        <tr>
          <td class="person-name">Frank Darabont</td>
          <td class="crew-title">Executive Producer</td>
        </tr>
        <tr>
          <td class="person-name">Gale Anne Hurd</td>
          <td class="crew-title">Executive Producer</td>
        </tr>
        <tr>
          <td class="person-name">Charles H. Eglee</td>
          <td class="crew-title">Executive Producer</td>
        </tr>
      </table>
    </div>
  </div>
</div>
