<div id="watch-list">
  <h1>
    <i class="fa fa-eye" aria-hidden="true"></i>
    Have you watch these?
  </h1>


  <table>
    <tr>
      <td rowspan="2" class="title"> Lost </td>
      <td class="episode"> S02E03: Mr. T in da house</td>
      <td>
        <a class="button float-right">
          <i class="fa fa-check" aria-hidden="true"></i>
          Yes?
        </a>
      </td>
    </tr>
    <tr>
      <td class="episode"> S02E04: Checkmate</td>
      <td>
        <a class="button float-right">
          <i class="fa fa-check" aria-hidden="true"></i>
          Yes?
        </a>
      </td>
    </tr>

    <tr>
      <td rowspan="2" class="title"> Friends </td>
      <td class="episode"> S02E03: Mr. T in da house asd asd asd as dasdasdasdasdasw dasd asd asd asd </td>
      <td>
        <a class="button float-right">
          <i class="fa fa-check" aria-hidden="true"></i>
          Yes?
        </a>
      </td>
    </tr>
    <tr>
      <td class="episode"> S02E04: Checkmate</td>
      <td>
        <a class="button float-right">
          <i class="fa fa-check" aria-hidden="true"></i>
          Yes?
        </a>
      </td>
    </tr>
  </table>
</div>


