@import url('https://fonts.googleapis.com/css?family=Exo:900|Gudea:400|Raleway:100|Martel+Sans')

// Fonts
$font-exo: 'Exo', sans-serif
$font-gudea: 'Gudea', sans-serif
$font-raleway: 'Raleway', sans-serif
$font-martel-sans: 'Martel Sans', sans-serif

// Components
@import "components/landing-page"
